<div class="container">
    <h1 class="mt-4">Manage Group</h1>
    <div>Group: </div>
    <div class="mb-4">Members: 0, Fully Vaccinated: 0</div>
    <a href="/user/new/" class="btn btn-success">Add User</a>
    <a href="/export" class="btn btn-info" target="_blank">Export Data</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Vaccine Status</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>David Song</th>
                <th>davidsong69@gmail.com</th>
                <th>Fully Vaccinated</th>
                <th>User</th>
                <th>
                    <a href="">Edit</a>
                    <div class="d-inline">|</div>
                    <a href="">Delete</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>