<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <div class="container">
            <div class="d-flex flex-row">
                <h1 class="p-5">Footer</h1>
            </div>
            <div class="d-flex flex-row-reverse">
                <h1 class="p-5">Links here</h1>
            </div>
        </div>
    </nav>
</footer>