<footer class="footer mt-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="d-flex flex-row">
                <div>© 2021 VaxTrack</div>
            </div>
            <div class="d-flex flex-row-reverse">
                <a href="https://github.com/RyanHu021/VaxTrack" class="btn btn-outline-secondary">GitHub</a>
                <a href="/faq/" class="btn btn-outline-secondary mx-2">FAQ</a>
            </div>
        </div>
    </nav>
</footer>