<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="d-flex flex-row">
                <a href="/" class="navbar-brand">VaxTrack</a>
            </div>
            <% if (auth) { %>
                <div class="d-flex flex-row-reverse">
                    <form action="/user?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-primary">Sign Out</button>
                    </form>
                    <a href="/user/view/" class="btn btn-outline-secondary mx-2">View Personal Status</a>
                    <% if (supervisor) { %>
                        <a href="/group/manage/" class="btn btn-outline-secondary">Manage Group</a>
                    <% } %>
                </div>
            <% } else { %>
                <div class="d-flex flex-row-reverse">
                    <a href="/user/login/" class="btn btn-primary">Sign In</a>
                    <a href="/group/new/" class="btn btn-outline-secondary mx-2">Create New Group</a>
                </div>
            <% } %>
        </div>
    </nav>
</header>