<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="d-flex flex-row">
                <a href="/" class="navbar-brand">VaxTrack</a>
            </div>
            <div class="d-flex flex-row-reverse">
                <a href="/user/login/" class="btn btn-primary">Sign In</a>
                <a href="/group/new/" class="btn btn-secondary">Create New Group</a>
            </div>
        </div>
    </nav>
</header>