<div class="container">
    <h1 class="mt-4">Edit User</h1>
    <%- include('../partials/error') %>
    <form action="/user/<%= user.id %>?_method=PUT" method="POST" class="">
        <%- include('_form_fields') %>
    </form>
</div>