<div class="container">
    <h1 class="mt-4">Update Your Vaccination Status</h1>
    <div class="mb-4"><%= `${user.firstName} ${user.lastName}` %></div>
    <div>Vaccine Type: <%= user.vaccineType %> </div>
    <div class="mb-4">Number of Doses: <%= user.doses %> </div>
    <%- include('../partials/error') %>
    <form action="/user/update/confirm?_method=PUT" method="POST">
        <div>
            <label for="vaccineCard">Vaccine Card:</label>
            <input required type="file" name="vaccineCard" id="vaccineCard" class="filepond col-6" accept="image/png, image/gif, image/jpeg">
        </div>
        <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>